##
# Project files
##
/source/

# IDEs and Editors
/.code/
/.vscode/
/.idea/

# MacOS
.DS_Store

# Enviroment configuration
.env
.env.development
.env.local

##
# Package manager related
##

# Node Modules folder
/node_modules/

# Yarn
yarn-error.log
